// ===sizes===
$header-height-large: 75px;
$footer-height-large: 75px;
$header-height-small: 45px;
$footer-height-small: 30px;

$h1-font-size-small : 2rem;
$h1-font-size-medium: 3rem;
$h1-font-size-large : 6rem;

// ===breakpoints===
$small : 480px;
$medium: 768px;
$large : 1024px;

// ===colors===
$orange: #faa422;
$light-orange: #ffbd26;
$grey: #adabab;
$dark-grey: rgb(99, 99, 99);
$dark-aqua: rgba(43, 186, 188, 0.816);
$purple: #DE19D7;
$aqua: #00c2c4;